@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap';

:root{
   --primary-color: #fe2c55;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}