@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap';

:root{
    
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
   //default layout  
   
   --default-header-height: 60px;
   --default-header-width: 1150px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}