@import "normalize.css";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap";

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-color: #333;
  //default layout

  --default-header-height: 60px;
  --default-header-width: 1150px;
  --default-header-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}
// custom tippy tolltip
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    background-color: rgba(84, 84, 84, 0.92);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-content {
    padding: 8px 9px;
}
  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
}
