.wrapper {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px;
    min-height: 100px;
    max-height: min(-156px + 100vh, 760px);
    padding: 8px;
}