.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-header-width); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-header-herizontal-spacer);
}

.logo-link {
    display: flex;
}


.more-btn{
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding:4px 8px;
    cursor: pointer;
}
    .actions{
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .action-btn{
        position: relative;
        display: flex;
        font-size: 2.2rem;
        color:#161823;
        background-color: white;
        padding: 4px 10px  ;
        margin-bottom: - 1px;
    }
    .user-avatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 14px;
        object-fit: cover;
        cursor: pointer ;
    }
    .badge {
        position: absolute;
        top: -3px;
        right: 0px;
        padding: 0px 6px;
        height: 1.8rem;
        line-height: 2rem;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        font-family: 'ProximaNova', sans-serif;
        background-color: var(--primary);
    }
